<div class="col-md-12" >
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{title}}</h5>
            <hr>
        </div>
        <div class="card-body pt-0 mt-0" >
            <form  (ngSubmit)="postEmpleado(empleado)"
            #empleado="ngForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <!-- Nombre -->
                        <label for="Lname">Nombre</label>
                        <input type="text" 
                        [(ngModel)]="nuevoEmpleado.nombresUsuario"
                        name="nombre"
                        class="form-control" 
                        required
                        placeholder="Nombre">
                        <span class="text-danger" 
                        *ngIf="empleado.submitted && 
                        empleado.controls['nombre'].errors">Ingrese su Nombre</span>
                    </div>
                    <!-- Fin Nombre -->
                        
                    <!-- Apellido -->
                    <div class="form-group col-md-6">
                        <label for="Lape">Apellido</label>
                        <input type="text" 
                        [(ngModel)]="nuevoEmpleado.apellidosUsuario"
                        name="apellidosUsuario"
                        class="form-control" 
                        required
                        placeholder="Apellido">
                        <span class="text-danger" 
                        *ngIf="empleado.submitted && 
                        empleado.controls['apellidosUsuario'].errors">Ingrese su Apellido</span>
                    </div>
           
             
                    <!-- Cedula -->
                    <div class="form-group col-md-6">
                    <label for="Lced">Cedula</label>
                    <input type="text" 
                    [(ngModel)]="nuevoEmpleado.cedulaUsuario"
                    name="cedulaUsuario"
                    required
                    class="form-control" 
                    placeholder="Cedula">
                    
                    <span class="text-danger" 
                    *ngIf="empleado.submitted && 
                    empleado.controls['cedulaUsuario'].errors">Ingrese su Cedula</span>
                        <!-- FinCedula -->
                    <!-- Email -->
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email"
                        [(ngModel)]="nuevoEmpleado.correoUsuario"
                        name="correoUsuario"
                        class="form-control" 
                        id="inputEmail4" 
                        required
                        placeholder="Email">
                        <span class="text-danger" 
                        *ngIf="empleado.submitted && 
                        empleado.controls['correoUsuario'].errors">Ingrese su Correo</span>
                    </div>
                    <!-- Email -->

                
                    <!-- Telefono -->
                    <div class="form-group col-md-6">
                        <label for="Lpass">Telefono</label>
                        <input type="text" 
                        [(ngModel)]="nuevoEmpleado.telefonoUsuario"
                        name="telefonoUsuario"
                        class="form-control" 
                        required
                        id="tel"
                        placeholder="Telefono">
                        <span class="text-danger" 
                        *ngIf="empleado.submitted && 
                        empleado.controls['telefonoUsuario'].errors">Ingrese su Teléfono</span>
                    </div>

              
                 <!-- Direccion -->
                <div class="form-group col-md-6">
                    <label for="inputAddress">Direccion</label>
                    <input type="text" 
                    [(ngModel)]="nuevoEmpleado.direccionUsuario"
                    name="direccionUsuario"
                    class="form-control" 
                    required
                    id="inputAddress"
                     placeholder="Ej: Av. Victor Hugo">
                     <span class="text-danger" 
                         *ngIf="empleado.submitted && 
                         empleado.controls['direccionUsuario'].errors">Ingrese su Dirección</span>
                </div>
              
           <!-- Fecha -->
                    <div class=" col-md-12" style="font-size: 12px">
                        <mat-form-field appearance="outline" style="width: 20rem" >
                        <mat-label style="font-weight: 500;">Fecha de Nacimiento</mat-label>
                        <input matInput [matDatepicker]="dp3" 
                        [(ngModel)]="nuevoEmpleado.fechaNacimiento "
                        name="fechaNacimiento" 
                        id="txtfecha" style="font-size: 12px;"
                        required
                        >
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                      </mat-form-field>
                        
                    </div>
                   
                </div>
                <!-- <div class="row" *ngIf="action=='insert'" > -->
                <div class="row"  >
                <!--  Usuarios -->

                                  
                    <div class="form-group col-md-4" >
                        <label for="lUser">Usuario</label>
                        <input type="text"
                        [(ngModel)]="nuevoEmpleado.user"
                        name="user" 
                        placeholder="Usuario"
                        class="form-control" 
                        required
                        id="ipuser">
                        
                        <span class="text-danger" 
                        *ngIf="empleado.submitted && 
                        empleado.controls['user'].errors">Ingrese el usuario </span>
                   
                </div>
                    <div class="col-md-4" *ngIf="action=='update'">
                    <div class="custom-control custom-switch ">
                        <input  type="checkbox" [(ngModel)]="nuevoEmpleado.administrador" name="tipoUsuarios" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1">Administrador</label>
                    </div>

                </div>
                
            </div>
            <div class="row" *ngIf="action=='update'">
                <div class="form-group col-md-4">
                <input #check type="checkbox" name="cbox2" (click)="activatePassInput()" >
                <label for="cbox2">Cambiar Contraseña</label>
            </div>
            </div>

                    <div class="row" *ngIf="checked || action=='insert'">
                    <div class="form-group col-md-4">
                        <label for="lpass">Contraseña</label>
                        <input type="password"
                        [(ngModel)]="nuevoEmpleado.password"
                        name="password" 
                        placeholder="Contraseña"
                        (keyup)=" evaluarPass(empleado.controls['confirm'].value)"
                        class="form-control" 
                        minlength="8"
                       required
                        id="ippass">
                        <span class="text-danger" 
                        *ngIf="empleado.submitted && checked && 
                        empleado.controls['password'].errors">Ingrese la contraseña (Minimo 8 caracteres)  </span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="lpasscon">Confirme Contraseña</label>
                        <input type="password"
                        minlength="8"
                        [(ngModel)]='confirmText'
                        #confirm
                        (keyup)="evaluarPass(confirm.value)"
                        name="confirm" 
                        required
                        placeholder="Confirme Contraseña"
                        class="form-control" 
                        id="idconfirm">
                        <span class="text-danger" 
                        *ngIf="empleado.submitted && checked &&
                        empleado.controls['confirm'].errors">Ingrese la contraseña (Minino 8 caracteres) </span>
               
                        <span class="text-danger" *ngIf="!coinciden" >Las contraseñas no coinciden</span>
                    </div>
                
                </div>

                <button type="submit"  class="btn btn-primary mr-2">Guardar</button>

                <button type="button"  (click)="cancelar()"  class="btn btn-secondary">Cancelar</button>
            </form>
        </div>
    </div>
</div>
